name {
    font-size: 40px;
    background-color: #85c021c1;
    color: #fff;
}

age {
    text-decoration: line-through;
    color: darkred;
    background-color: #ffbf00;
    font-size: 26px;
    font-weight: inherit;
    margin-left: 800px;
    padding: 10px 18px;
    border-radius: 15px;
    border: 3px black solid;

}

student {
    display: block;
    margin: 20px;
    padding: 20px 50px;
}